<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

{% load static %}
<!-- CSS Custom File -->
<link href="{% static 'project/images/logo.css' %}" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="position:relative; -20px" href="{% url 'profile' %}"><img class="logo" src="{% static 'project/images/navbarlogo.png' %}" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Sign Out <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">My Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'email' %}">Email Settings <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'submitPost' %}">Make a Post <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'allPost' %}">All Posts <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logWorkout' %}">Log Workout <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recentWorkouts' %}">My Workout History <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nutrition' %}">Nutrition Log <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'othersWorkout' %}">Community Activity <span class="sr-only">(current)</span></a>
        </li>
        -->

      <div class="nav-item dropdown" style='padding-right: 10px; position:relative; left:-30px'>
        <a class="btn btn-secondary dropdown-toggle" href="{% url 'profile' %}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
          <a class="dropdown-item" href="{% url 'email' %}">Email Settings</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
        </div>
      </div>

      <div class="nav-item dropdown" style='padding-right: 10px; position:relative; left:-30px'>
        <a class="btn btn-secondary dropdown-toggle" href="{% url 'profile' %}" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Workouts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logWorkout' %}" >Log Workouts</a>
          <a class="dropdown-item" href="{% url 'recentWorkouts' %}">My Workout History</a>
        </div>
      </div>
      <div class="nav-item dropdown" style='padding-right: 10px; position:relative; left:-30px'>
        <a class="btn btn-secondary dropdown-toggle" href="{% url 'profile' %}" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nutrition
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'nutrition' %}" >Log Nutrition</a>
          <a class="dropdown-item" href="{% url 'nutrihistory' %}" >My Nutrition History</a>
        </div>
      </div>
      <div class="nav-item dropdown" style='padding-right: 10px; position:relative; left:-30px'>
        <a class="btn btn-secondary dropdown-toggle" href="{% url 'profile' %}" role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Posts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'submitPost' %}" >Make a Post</a>
          <a class="dropdown-item" href="{% url 'myPost' %}" >My Posts</a>
          <a class="dropdown-item" href="{% url 'allPost' %}">Community Posts</a>
        </div>
      </div>

      <div class="nav-item dropdown" style='padding-right: 10px; position:relative; left:-30px'>
        <a href="{% url 'othersWorkout' %}" class="btn btn-secondary" role="button">Community Activity</a>
      </div>
  </div>
  <div class="nav-item dropdown" style='padding-right: 10px'>
    <a href="{% url 'recommended' %}" class="btn btn-secondary" role="button">Recommended Workouts</a>
  </div>
  <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'userList' %}">
         {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search by username" aria-label="Search" name="user_search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter</button>
    </form>
</nav>


</ul>
</div>
</nav>

<body>
{% block body %}

<!--{% if messages %}
<div style="text-align:center">
  <strong>Messages:</strong>
  <ul style="list-style-type: none; padding: 0;">
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
  </ul>
</div>
{% endif %}-->

<!-- <div>
  <strong>Menu:</strong>
  <ul>
{% if user.is_authenticated %}
<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
{% else %}
<li><a href="{% url 'account_login' %}">Sign In</a></li>
<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
{% endif %}
  </ul>
</div> -->

{% block content %}
{% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
</body>
</html>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6077354eed81d2fb"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>