{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<h2 style="text-align:center">{% trans "Edit Profile" %}</h2>

{% if user.is_authenticated %}
<div class = "container-fluid">
    <div class="row justify-content-md-center">
        <form action="{% url 'editProfile' %}"  method="post">
            {% csrf_token %}
            <p>* Required</p>
            <div class="form-group">
                <label> First Name*</label>
                <input class="form-control" name="firstName" type="text" placeholder="First Name" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label> Last Name*</label>
                <input class="form-control" name="lastName" type="text" placeholder="Last Name" autocomplete="off" required>
            </div>


            <div class="form-group">
                <label> Weight (Pounds)*</label>
                <input class="form-control" name="weight" type="number" placeholder="Weight" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-primary" value = "Submit">Save</button>
        </form>
    </div>
</div>
{% else %}
<script> window.location.replace("{% url 'account_login' %}"); </script>
{% endif %}



{% endblock %}