
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}

{% if user_search %}
<div class=".container">
    <div class="row justify-content-md-center">
        <div class="alert alert-info">
            You are viewing the search results for: "{{ user_search }}"
        </div>
    </div>

    {% if users %}

    <div class="row justify-content-md-center">
        <div class="alert alert-success">
            <h4><b>Click the username to add to your favorites!</b></h4>
        </div>
    </div>

    {% for user in users %}

    <div class="row justify-content-md-center">

        <div class="col-text-wrap">
            <form action="profile/" method="post">
                {% csrf_token %}

                <input type="submit" class="btn btn-primary" value={{user}} name="user">

            </form>

        </div>
    </div>

    {% endfor %}

    {% else %}

        <div class="row justify-content-md-center">
        <div class="alert alert-light">
            No results for usernames that start with "{{ user_search }}".
        </div>
    </div>

        {% endif %}

</div>

{% else %}

<div class=".container-fluid">
    <div class="row justify-content-md-center">
        <div class="alert alert-info">
            Enter something in the search bar at the top right of the screen to see the results here.
        </div>
    </div>
</div>

{% endif %}

{% endblock %}


